*{
  box-sizing: border-box;
}
body
{
  margin: 0;
  width: auto;
  height: 1500px;
  /*background:url('rust.jpg')*/
}
#moto{
    margin-top: 50px;
    padding: 50px;
    float: left;
    /*color: grey;*/
    font-style: oblique;
    top:0;
    height:auto;
    width:50%;
    border-right: 1px solid grey;
    text-align: justify;
}
#notifications{
  width: 49%;
}
.headerimage>blockquote{
  opacity: 0.8;
  font-size: 30px;
  text-shadow: 1px 1px 2px blue;
  padding-top: 150px;
  text-align: center;
}

.primary-menu{
  text-decoration: none;
  color: black;
}
.headerimage
{ top: 0;
  opacity: 0.5;
  background-image:url('http://i1-news.softpedia-static.com/images/news2/mozilla-fixes-critical-vulnerability-in-firefox-22-hours-after-discovery-514095-2.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: repeat-y;

}
.center{
  text-align: center;
}
#teamplayers{
  padding-top: 30px;
  padding-bottom:20px;
  padding-left: 100px;
  padding-right: 100px;
}
.img-rounded
{
  height: 200px;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 150px;
  margin-right: 150px;

}
.team-members
{
  color: grey;
  font-style: oblique;
  text-align: center;
}
.pull-right{
  float: right;
  margin-right: 20px;
}
.inline{
  display: inline;
  margin-right: 80px;
}
