*{
  box-sizing: border-box;
}
body
{
  margin: 0;
  width:auto;
  height: 1500px;
  /*background:url('rust.jpg')*/
}
.sliders>blockquote{
  opacity: 0.8;
  font-size: 30px;
  text-shadow: 1px 1px 2px blue;
  /*color:black;*/
  padding-top: 150px;
  /*margin: 0 auto;*/
  text-align: center;
}
header
{
  /*opacity: 0.9;*/
   top: 0;
  height:40px;
  /*position: fixed;*/
  /*color: white;*/
  /*border: 2px solid;*/
  width: 1500px;
  background-color: white;
}
.primary-menu{
  text-decoration: none;
  color: black;
}
.sliders
{ top: 0;
  opacity: 0.5;
  background-image:url('http://i1-news.softpedia-static.com/images/news2/mozilla-fixes-critical-vulnerability-in-firefox-22-hours-after-discovery-514095-2.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: repeat-y;


  /*border: 2px solid;*/
  /*background: green*/
}

.teamplayers{

  padding-bottom:20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.img-rounded
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 150px;
  margin-right: 150px;
  /*opacity: 0.8;*/
}
/*.img-rounded:hover{

  height: 220px;
  width: 220px;
}*/
.team-members
{
  /*display: inline-block;*/
  margin-top: 40px;
  color: grey;
  font-style: oblique;
  text-align: center;
}
.pull-right{
  float: right;
  margin-right: 200px;
}
.inline{
  display: inline;
  margin-right: 80px;
}
